<h1>About Us Section</h1>
<p>Hello, and welcome to the Jungle app! Here you can shop very unique and useful products!
Our team is especially proud of what we sell and we believe in the highest quality. 
Please don't hesitate to reach us for any comments or questions!
</p>
<p>Hannah Bregman, bregmanhannah@gmail.com! :^) </p>